<div class="container" style="background-color:lightblue">
<br>
<center><h1>welcome to students results website</h1>
<br><br>
<%= image_tag "about4.jpg", height: 200%>

<quotes><b><i>" The best way to predict your future is to create it " </i>
<br>~Abraham Lincoln</b></quotes>
</center>
</div>

