<h1>Editing result</h1>

<%= render "form", result: @result %>

<br>

<div>
<table>
<tr><td>
  <%= link_to "Show this result", @result %> |
  </td> </tr>
  </table>
  <%= link_to "Back to result", results_path %>
</div>
